body {
  background-color: white;
}

table {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-top: 5%;
  border: 3px solid black;
  font: 11pt arial;
}

table.positive { 
  border-color:      #8f8;
}

table.negative {
  border-color:      #f88;
}

tr {
  height: 25px;
}

td {
  text-align: center;
}

.row1 .positive {
  background-color:  #8f8;
  border-color:      #8f8;
}

.row1 .negative { 
  background-color: #f88;
  border-color:     #f88;
}
