body {
  background-color: white;
}

table {
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-top: 5%;
  border: 1px solid black;
  font: 11pt arial;
}

tr {
  height: 25px;
}

td {
  text-align: center;
}