<!DOCTYPE html>
<html ng-app ng-csp>
  <head>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/widget.js"></script>
    <link rel="stylesheet" href="css/css.css" type="text/css" media="screen" />
  </head>

  <body>
    <table ng-controller="ShellCtrl">
      <tr ng-repeat="rowData in tableData">
        <td ng-repeat="colData in rowData">
          {{colData}}
        </td>
      </tr>
    </table>
  </body>
</html>